/* ---------------------------------------------------------
   1. Common site styles
   2. Styles for responsive breakpoints
---------------------------------------------------------*/

/* ---------------------------------------------------------
   1. Common site styles
---------------------------------------------------------*/

body {
	position: relative;
	min-width: 320px;
}

#wrapper {
	overflow: hidden;
	position: relative;
	width: 100%;
}

.btn {
	white-space: normal;
}

/* header styles */

#header {
	background: #303030;
	min-height: 57px;
	min-width: 320px;
}

.nav-active .main-nav {
	left: 0;
}

.nav-active .nav-opener .bar {
	background: #fff;
}

.nav-active .nav-opener:after,
.nav-active .nav-opener:before {
	background: #fff;
}

.nav-opener {
	width: 35px;
	height: 24px;
	position: relative;
	display: none;
}

.nav-opener:hover {
	opacity: .8;
}

.nav-opener .bar {
	background: #ed5828;
	height: 1px;
	display: block;
}

.nav-opener:after,
.nav-opener:before {
	height: 1px;
	left: 0;
	right: 0;
	top: 50%;
	content: "";
	position: absolute;
	background: #ed5828;
}

.nav-opener:before {
	bottom: 0;
	top: auto;
}

/* main navigation of the page */

.main-nav {
	float: right;
	max-width: 90%;
}

.nav {
	font-size: 0;
	line-height: 0;
	letter-spacing: -4px;
}

.nav li {
	display: inline-block;
	vertical-align: top;
}

.nav li a {
	padding: 0;
}

/* logo of the page */

.logo {
	float: left;
	width: 96px;
	padding: 7px 0;
}

.logo a {
	display: block;
	width: 96px;
}

img {
	max-width: 100%;
	height: auto;
	vertical-align: top;
}

/* main section styles */

#main {
	padding-top: 57px;
}

/* hero section styles */

.hero-section {
	padding: 32px 0 42px;
	background: #f1582b;
	color: #fff;
}

.hero-section .top-title-txt {
	overflow: hidden;
	font: 800 32px/40px "Open Sans", Helvetica, Arial, sans-serif;
	margin: 0 0 34px;
}

.hero-section .top-title-txt .number {
	font: 300 72px/70px "Open Sans", Helvetica, Arial, sans-serif;
	color: #303030;
	letter-spacing: -5px;
	margin: 0 0 7px;
}

.hero-section .top-title-txt .number span {
	color: #fff;
}

.hero-section .block-time {
	float: left;
	width: 37%;
	padding: 0 10px 0 0;
}

.hero-section .block-maker {
	float: left;
	width: 35%;
	padding: 0 10px 0 0;
}

.hero-section .block-work {
	float: left;
	width: 28%;
}

.hero-section .img-txt-wrap {
	overflow: hidden;
}

.hero-section .img-txt-wrap .img-block {
	padding: 13px 21px 0 10px;
	float: right;
	width: 430px;
	text-align: right;
}

.hero-section .txt-holder {
	overflow: hidden;
}

.hero-section .txt-holder time {
	font: 800 24px/30px "Open Sans", Helvetica, Arial, sans-serif;
	display: block;
	margin: 0 0 12px;
	letter-spacing: -1px;
	text-transform: uppercase;
}

.hero-section .txt-holder .title {
	font: 800 64px/70px "Open Sans", Helvetica, Arial, sans-serif;
	display: block;
	margin: 0 0 28px;
	text-transform: uppercase;
	letter-spacing: -4px;
}

.hero-section .txt-holder .btn {
	font: 24px/52px "Open Sans", Helvetica, Arial, sans-serif;
	border-radius: 10px;
	min-width: 194px;
	letter-spacing: -1px;
	height: 56px;
	padding-top: 0;
	padding-bottom: 0;
}

/* schedule location styles */

.location-schedule {
	background: #303030;
	color: #fff;
}

.location-schedule .title {
	display: block;
	margin: 0 0 10px;
	font: 800 42px/45px "Open Sans", Helvetica, Arial, sans-serif;
	text-transform: uppercase;
	letter-spacing: -2px;
}

/* location block style */

.location-block {
	margin: 0 0 50px;
	position: relative;
	padding: 39px 0 10px;
}

.location-block .bg-stretch {
	left: -10px;
	right: -10px;
}

.location-block .title {
	margin: 0 0 50px;
}

.location-block .icon {
	float: left;
	width: 55px;
	margin: 7px 10px 0 54px;
}

.location-block .icon a:hover {
	opacity: .8;
	text-decoration: none;
}

.location-block .address-hold {
	overflow: hidden;
	font: 300 24px/27px "Open Sans", Helvetica, Arial, sans-serif;
	text-transform: uppercase;
	letter-spacing: -1px;
}

.location-block .address-hold .place-name {
	font: 800 24px/27px "Open Sans", Helvetica, Arial, sans-serif;
	display: block;
	margin: 0 0 8px;
}

.location-block .btn-holder {
	padding-top: 24px;
	padding-left: 33px;
}

.location-block .btn {
	min-width: 194px;
	font: 24px/52px "Open Sans", Helvetica, Arial, sans-serif;
	border-radius: 10px;
	letter-spacing: -2px;
	height: 56px;
	overflow: hidden;
	padding-top: 0;
	padding-bottom: 0;
	display: inline-block;
	vertical-align: top;
	background: url(../images/bg01.png);
}

.location-block .btn:hover {
	background: #ccc;
	color: #000 !important;
}

.location-block .btn:hover {
	color: #ccc;
}

/* schedule styles */

.schedule-block {
	padding: 0 0 13px;
}

.schedule-block .title {
	margin: 0 0 39px;
}

.schedule-block .three-columns {
	overflow: hidden;
	letter-spacing: -4px;
	font-size: 0;
	line-height: 0;
	margin: 0 -10px;
}

.schedule-block .three-columns .col {
	font: 16px/22px "Open Sans", Helvetica, Arial, sans-serif;
	display: inline-block;
	vertical-align: top;
	padding: 0 10px 9px;
	width: 30.5%;
	letter-spacing: 0;
}

.schedule-block .three-columns header {
	font: 800 24px/30px "Open Sans", Helvetica, Arial, sans-serif;
	padding: 0 0 7px;
	border-bottom: 1px solid #686c6b;
	text-transform: uppercase;
	letter-spacing: -.5px;
}

.schedule-block .event-list {
	position: relative;
	padding: 18px 0 0;
}

.schedule-block .event-list:after {
	top: 0;
	bottom: 20px;
	left: 83px;
	content: "";
	position: absolute;
	width: 1px;
	background: #686c6b;
	display: block;
}

.schedule-block .event-list li {
	padding: 0 0 28px;
	overflow: hidden;
}

.schedule-block .event-list time {
	float: left;
	width: 82px;
	padding-right: 5px;
}

.schedule-block .event-list .event-name {
	overflow: hidden;
	padding-left: 26px;
}

.schedule-block .event-list .event-name a {
	color: #fff;
}

/* block holder styles */

.block-holder {
	background: #fff;
	padding: 51px 0 0;
}

/* about section styles */

.about {
	border-bottom: 1px solid #303030;
	padding-bottom: 39px;
	margin: 0 0 36px;
}

.about h1 {
	font: 800 42px/50px "Open Sans", Helvetica, Arial, sans-serif;
	margin: 0 0 26px;
	color: #303030;
	text-transform: uppercase;
	letter-spacing: -2px;
}

.about h2 {
	margin: 8px 0;
	letter-spacing: -1px;
}

.about em {
	font-style: italic;
}

.about strong a {
	color: #303030;
}

.about p {
	margin: 0 0 44px;
}

.about .video-holder {
	max-width: 528px;
}

/* envloved sections styles */

.envolved-holder {
	background: #f6f5f5;
	padding: 7px 20px 20px;
}

.envolved-holder h3 {
	color: #303030;
	margin: 0 0 31px;
	font: 800 18px/22px "Open Sans", Helvetica, Arial, sans-serif;
}

.envolved-holder .photos {
	margin: 0 -10px 14px;
	letter-spacing: -4px;
	font-size: 0;
	line-height: 0;
}

.envolved-holder .photos li {
	letter-spacing: 0;
	padding: 0 10px 21px;
}

.envolved-holder .name-list {
	margin: 0 -5px 25px;
	letter-spacing: -4px;
	font-size: 0;
	line-height: 0;
}

.envolved-holder .name-list li {
	padding: 0 5px 8px;
	display: inline-block;
	vertical-align: top;
	font-size: 14px;
	line-height: 18px;
	letter-spacing: 0;
	width: 50%;
}

.envolved-holder .name-list li a {
	color: #303030;
}

.envolved-holder .btn {
	color: #ed5728;
	font-size: 16px;
	line-height: 52px;
	height: 56px;
	border-radius: 10px;
	min-width: 196px;
	padding-top: 0;
	padding-bottom: 0;
	overflow: hidden;
	background: url(../images/bg01.png);
}

.envolved-holder .btn:hover {
	background: #ed5728;
	color: #fff;
}

/* sponser list */

.sponser-holder {
	padding: 0 6px;
}

.sponser-holder .title {
	display: block;
	margin: 0 0 22px;
	font: 800 42px/45px "Open Sans", Helvetica, Arial, sans-serif;
	text-transform: uppercase;
	letter-spacing: -2px;
}

.sponser-holder .list {
	font-size: 0;
	line-height: 0;
	letter-spacing: -4px;
	margin: 0 -10px 21px;
}

.sponser-holder .list li {
	letter-spacing: 0;
	font-size: 16px;
	line-height: 20px;
	padding: 0 10px 20px;
}

.sponser-holder .list li a:hover {
	opacity: .8;
}

/* footer section of the page */

#footer {
	padding: 35px 0 137px;
	overflow: hidden;
	background: #303030;
	color: #fff;
}

#footer h4 {
	color: #babebd;
	font: 800 24px/30px "Open Sans", Helvetica, Arial, sans-serif;
	margin: 0 0 10px;
	letter-spacing: -1.5px;
	text-transform: uppercase;
}

#footer .social-media {
	padding-left: 0;
}

#footer .social-media h4 {
	margin: 0 0 20px;
}

.footer-top {
	padding-bottom: 45px;
	margin: 0 0 10px;
	overflow: hidden;
	position: relative;
}

.footer-top:after {
	left: 0;
	right: 20px;
	bottom: 0;
	height: 1px;
	background: #686c6b;
	content: "";
	position: absolute;
}

/* footer links */

.footer-links li {
	padding: 0 0 14px;
	font-size: 14px;
	line-height: 20px;
}

.footer-links.two-list {
	font-size: 0;
	line-height: 0;
	letter-spacing: -4px;
	margin: 0 -5px;
}

.footer-links.two-list li {
	font-size: 14px;
	line-height: 20px;
	letter-spacing: normal;
	display: inline-block;
	vertical-align: top;
	width: 50%;
	padding: 0 5px 14px;
}

.footer-links li a {
	color: #6a6a6a;
}

/* social networks styles */

.social-networks {
	margin: 0 -11px;
}

.social-networks li {
	vertical-align: top;
	padding: 0 11px 10px;
}

.social-networks li a:hover {
	opacity: .8;
}

.power-block {
	font: italic 14px/24px "Merriweather", Georgia, "Times New Roman", Times, serif;
}

.power-block a {
	color: #fff;
}

.power-block p {
	margin: 0;
}

.bg-stretch {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	overflow: hidden;
}

.bg-stretch img {
	max-width: none;
	margin-top: 0 !important;
}

@media only screen and (max-width: 979px) {
	.hero-section {
		padding: 25px 0 35px;
	}

	.hero-section .top-title-txt {
		font-size: 28px;
		line-height: 33px;
		margin: 0 0 25px;
	}

	.hero-section .top-title-txt .number {
		font-size: 65px;
		line-height: 65px;
	}

	.hero-section .block-time {
		width: 30%;
	}

	.hero-section .block-maker {
		width: 30%;
	}

	.hero-section .block-work {
		width: 35%;
	}

	.hero-section .img-txt-wrap .img-block {
		width: 350px;
		padding: 10px 15px 0 10px;
	}

	.hero-section .txt-holder .title {
		font-size: 58px;
		line-height: 60px;
		margin: 0 0 20px;
		letter-spacing: -1px;
	}

	.location-schedule .title {
		letter-spacing: 0;
		font-size: 30px;
		line-height: 35px;
	}

	.location-block {
		padding: 25px 0 10px;
		margin: 0 0 30px;
	}

	.location-block .title {
		font-size: 30px;
		line-height: 35px;
		margin: 0 0 30px;
	}

	.location-block .icon {
		width: 40px;
		margin: 5px 10px 0 30px;
	}

	.location-block .address-hold {
		font-size: 18px;
		line-height: 23px;
	}

	.location-block .address-hold .place-name {
		font-size: 18px;
		line-height: 22px;
		margin: 0 0 5px;
	}

	.location-block .btn-holder {
		padding-left: 10px;
		padding-top: 10px;
	}

	.location-block .btn {
		min-width: 100px;
		font-size: 18px;
		line-height: 42px;
		letter-spacing: 0;
		height: 48px;
	}

	.schedule-block .title {
		margin: 0 0 30px;
	}

	.schedule-block .three-columns {
		margin: 0 -7px;
	}

	.schedule-block .three-columns {
		margin-bottom: -7px;
	}

	.schedule-block .three-columns .col {
		font-size: 12px;
		line-height: 17px;
		width: 33%;
		padding: 0 7px 10px;
	}

	.schedule-block .three-columns header {
		font-size: 18px;
		line-height: 23px;
	}

	.about {
		padding-bottom: 30px;
		margin: 0 0 25px;
		font-size: 14px;
		line-height: 20px;
	}

	.about h1 {
		font-size: 30px;
		line-height: 35px;
		margin: 0 0 10px;
		letter-spacing: -1px;
	}

	.about h2 {
		font-size: 30px;
		line-height: 35px;
		letter-spacing: 0;
	}

	.about p {
		margin: 0 0 30px;
	}

	.about .video-holder {
		margin: 0 auto 20px;
	}

	.envolved-holder {
		padding: 15px;
	}

	.envolved-holder .btn {
		min-width: 100px;
		height: 48px;
		padding-bottom: 0;
		padding-top: 0;
		line-height: 45px;
	}

	.sponser-holder .title {
		font-size: 30px;
		line-height: 35px;
		margin: 0 0 15px;
	}

	.sponser-holder .list {
		margin: 0 -10px 15px;
	}

	.sponser-holder .list li {
		width: 33%;
	}

	#footer {
		padding: 25px 0 100px;
	}

	#footer h4 {
		font-size: 18px;
		line-height: 23px;
		letter-spacing: 0;
	}

	.footer-links li {
		font-size: 13px;
		line-height: 18px;
	}

	.footer-links.two-list li {
		font-size: 13px;
		line-height: 18px;
	}
}

@media only screen and (max-width: 767px) {
	.nav-opener {
		display: inline-block;
		margin: 15px 0 5px;
		float: left;
	}

	.main-nav {
		background: #f2582a;
		position: fixed;
		top: 0;
		bottom: 0;
		left: -195px;
		float: none;
		max-width: none;
		width: 193px;
		border-right: 2px solid #303030;
		padding: 0 12px 0;
		overflow: auto;
		-webkit-transition: all 300ms ease-in;
		transition: all 300ms ease-in;
	}

	.nav {
		padding: 10px 0 0;
		overflow: hidden;
		width: 100%;
	}

	.nav li {
		font-size: 16px;
		line-height: 20px;
		display: block;
		padding: 0 0 30px;
		letter-spacing: 0;
	}

	.nav li a {
		color: #fff;
		display: inline;
	}

	.nav li a:hover,
	.nav li a:focus {
		text-decoration: underline;
		background: transparent;
		outline: none;
	}

	.logo {
		float: right;
		padding-right: 15px;
		padding-top: 10px;
	}

	.logo a {
		width: 88px;
	}

	.hero-section {
		padding-bottom: 22px;
	}

	.hero-section .top-title-txt {
		display: none;
	}

	.hero-section .img-txt-wrap .img-block {
		display: none;
	}

	.hero-section .txt-holder {
		padding: 0 10px;
	}

	.hero-section .txt-holder time {
		margin: 0 0 2px;
	}

	.hero-section .txt-holder .title {
		font-size: 32px;
		line-height: 43px;
		margin: 0 0 26px;
	}

	.location-schedule .title {
		font-size: 24px;
		line-height: 30px;
		letter-spacing: -1px;
	}

	.location-block {
		padding: 16px 5px 34px;
		margin: 0 0 15px;
	}

	.location-block .title {
		font-size: 24px;
		line-height: 30px;
		letter-spacing: -1px;
		margin: 0 0 2px;
	}

	.location-block .icon {
		display: none;
	}

	.location-block .address-hold {
		font-size: 16px;
		line-height: 26px;
	}

	.location-block .address-hold address {
		line-height: 26px;
		margin: 0 0 6px;
	}

	.location-block .address-hold .place-name {
		display: none;
	}

	.location-block .btn-holder {
		text-align: left;
		padding-top: 0;
	}

	.location-block .btn {
		color: #f05631;
		text-decoration: underline;
		font-size: 18px;
		line-height: 22px;
		border: 0;
		padding: 0;
		height: auto;
		letter-spacing: -1px;
	}

	.location-block .btn:hover {
		text-decoration: none;
		color: #f05631;
		background: none;
		color: #f05631 !important;
	}

	.schedule-block {
		padding: 0 5px;
	}

	.schedule-block .title {
		margin: 0 0 23px;
	}

	.schedule-block .three-columns .col {
		width: 100%;
		font-size: 16px;
		line-height: 20px;
		padding: 0 18px 4px 7px;
	}

	.schedule-block .three-columns header {
		font-size: 24px;
		line-height: 30px;
	}

	.schedule-block .event-list {
		margin: 0;
	}

	.schedule-block .event-list:after {
		left: 85px;
		bottom: 15px;
	}

	.block-holder {
		padding: 10px 0 0;
	}

	.about {
		margin: 0 0 10px;
		display: none;
	}

	.about p {
		margin: 0 0 25px;
	}

	.about .video-holder {
		width: 100%;
		margin-bottom: 20px;
	}

	.envolved-holder .photos {
		margin: 0 -16px 20px;
	}

	.envolved-holder .photos li {
		padding: 0 16px 20px;
	}

	.sponser-holder .title {
		font-size: 24px;
		line-height: 30px;
		margin: 0 0 13px;
		letter-spacing: -1px;
	}

	.sponser-holder .list {
		margin: 0 -8px 4px;
		text-align: center;
	}

	.sponser-holder .list li {
		width: auto;
		padding-bottom: 21px;
	}

	#footer {
		padding: 28px 0 70px;
	}

	#footer > .container {
		padding: 0 18px;
	}

	#footer h4 {
		font-size: 24px;
		line-height: 30px;
	}

	#footer .social-media {
		padding-left: 10px;
		padding-bottom: 23px;
	}

	.footer-top {
		padding-bottom: 16px;
	}

	.footer-top:after {
		display: none;
	}

	.footer-links li {
		font-size: 14px;
		line-height: 20px;
	}

	.footer-links.two-list li {
		font-size: 14px;
		line-height: 20px;
	}

	.power-block {
		text-align: left;
	}
}
